@media (max-width: 1440px) {
  .contact-details a,
  .perfil-main-details p {
    font-size: 16px;
  }
  .blogs-footer-details,
  .contact-details p,
  .description-details-text {
    font-size: 14px;
  }
  .contact-details {
    padding: 30px 15%;
  }
}
@media (max-width: 768px) {
  .contact-details a, 
  .perfil-main-details p {
    font-size: 12px;
  }
  .blogs-footer-details,
  .contact-details p, 
  .description-details-text {
    font-size: 10px;
  }
  .perfil-main-text {
    display: none;
  }
}
@media (max-width: 600px) {
  .perfil-main section {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .perfil-main {
    padding-left: 10px;
    padding-right: 10px;
  }
  .perfil-main-img {
    margin: 0;
  }
  .description-title {
    margin-bottom: 10px;
  }
  .description {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-template-areas: "texto1 texto2"
                         "texto3 texto3";
  }
  .texto1 {
    grid-area: texto1;
  }
  .texto2 {
    grid-area: texto2;
  }
  .texto3 {
    grid-area: texto3;
  }
  .contact-container {
    align-items: initial;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "img1 img2"
                         "contact1 contact2";
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .contact2 a,
  .contact1 a {
    align-self: center;
  }
  .contact1 {
    display: flex;
    align-content: center;
    grid-area: contact1;
  }
  .contact2 {
    grid-area: contact2;
  }
  .contact-details {
    padding: 0;
  }
  .text  {
    display: none;
  }
}
@media (max-width: 375px) {
  header .header-icons-container {
    justify-content: center;
  }
  header .header-icons-container .icons {
    margin-right: 0;
  }
  nav .nav-logo-container {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  nav .nav-logo-container img {
    width: 150px;
  }
  .perfil-main {
    padding-left: 10px;
    padding-right: 10px;
  }
  .perfil-main section {
    display: flex;
    flex-direction: column;
  }
  .perfil-main-img {
    margin: 0;
  }
  .description {
    display: flex;
    flex-direction: column;
  }
  .description-title {
    margin: 10px 0;    
  }
  .description-details {
    margin-bottom: 10px;
  }
  .description-details h2 {
    margin-top: 0;
  }
  .description-details-text {
    font-size: 12px;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
  }
  .contact-details {
    padding: 20px 20px;
    font-size: 20px;
    text-align: center;
  }
  .contact-details a {
    align-self: center;
  }
}
