@font-face {
  font-family: "Roboto mono";
  src: url(Roboto_Mono/RobotoMono-Medium.ttf);

}
body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;  
}
header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #48cfad;
}
header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-evenly;
  justify-self: end;
  margin-right: 50px;
}
header .icons span {
  color: white;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}
nav .nav-logo-container {
  margin-left: 50px;
}
nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}
nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}
main {
  width: 100%;
  height: 1fr;
  margin: 0
}

main .main-image img{
  position: relative;
  width: 100%;
  height: 78vh;
  /* object-fit: cover; */
}
main .main-image p {
  position: absolute;
  color: white;
  z-index: 2;
  font-family: "Roboto mono";
  padding-top: 180px;
  text-align: center;
  width: 100%;
  font-size: 20px;
}
main .main-button {
  width: 100%;
  position: absolute;
  margin-top: 300px;
  text-align: center;
  z-index: 2;
}
main .main-button button {
  padding: 10px;
  background-color: #48cfad;
  border: 0;
  font-family: "Roboto mono";
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  color: white;
}
nav .profile-link a:hover {
  color: #48cfad;
  font-weight: bold;
}
header .icons span:hover {
  color: black;
}